:root {
    --primary: #1F1F1F;      /* dark */
    --secondary: #2e8b57;    /* green */
    --danger: #d9534f;       /* red */

    --body-color: #ffffff;   /* white */
}

body {
    color: var(--body-color);
    background-color: var(--primary);
}

a{
    color: var(--secondary);
}

.form-control{
    background-color: var(--primary);
    color: white;
}

.form-control:focus{
    background-color: var(--primary);
    color: white;
}

.form-control::placeholder {
    color: #bfbfbf;
    opacity: 1;
}

.albumTable-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 6px;
}

.album-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 60px;
}

.custom-table th {
    background-color: var(--primary);
    color: white;
}

.custom-table tr td {
    background-color: var(--primary);
    color: white;
}

.square{
    width:2.2em;
    height:2.2em;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    background:green;
    color:#fff;
    border-radius:4px;
}

.profile-Image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 360px;
}
.profile-Icon{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 360px;
}



